body {
    font-family: "Open Sans", sans-serif;
    font-size: 100%;
    line-height: 1.6em;
    -webkit-text-size-adjust: 100%;
    color: #272727;
    margin: 0;
}

header {
    text-align: center;
    margin: 0;
    padding: 0.6em 0.6em 0 0.6em;
    background: #6699CC;
}

header > * {
    vertical-align:middle;
}

#logo_container {
    display: inline-block;
    text-align: center;
    margin: 10px 10px 10px 0;
}

#logo_image {
    width: 88px;
    height: 150px;
}

#header_text {
    display: inline-block;
    color: white;
    max-width: 700px;
}

section {
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
    padding: 10px;
    max-width: 820px;
}

footer {
    background-color: #566B7F;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.875em;
}

h1 {
    font-size: 3em;
    margin-top: 0.313em;
    color: white;
}

div > * {
    vertical-align:middle;
}

h2 {
    font-size: 1.5em;
    margin-top: 1.2em;
    color: black;
}

pre {
    overflow: auto;
    padding: 2px 6px;
}

code {
    padding: 1px 4px;
}

code, pre {
    font-family: "Source Code Pro", Menlo, Consolas, monospace;
    font-size: 0.813em;
    background-color: #566B7F;
    border: 1px solid #99CCFF;
}

pre code {
    font-size: 1em;
    background: none;
    border: none;
    padding: 0;
}

a:link { color: #566B7F; }
a:visited { color: #566B7F; }
a:hover { color: #566B7F; }
a:active { color: #566B7F; }
